#header {
    background-color: rgb(126, 126, 126);
    width: 100%;
    height: 2.5rem;
    position: fixed;
    margin: 0;
    border: none;
    padding: 0;
    display: block;
}

#footer {
    background-color: rgb(126, 126, 126);
    width: 100%;
    position: absolute;
    display: block;
    bottom: 0;
    height: 2.5rem;
    margin: 0;
    border: none;
    padding: 0;
}

#page-container {
    position: relative;
    display: block;
    min-height: 100vh;
    margin: 0;
    border: none;
    padding: 0;
}
  
#content-wrap {
    display: block;
    margin: 0;
    border: none;
    padding-bottom: 2.5rem;
    padding-top: 2.5rem;
}

html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    border: none;
    padding: 0;
}

#result {
    color: red;
}