#header {
    background-color: rgb(61, 61, 61);
    width: 80%;
    height: 2.5rem;
    position: fixed;
    margin: 0;
    border: none;
    padding: 0;
    display: block;
}

#footer {
    background-color: rgb(61, 61, 61);
    width: 100%;
    position: absolute;
    display: block;
    bottom: 0;
    height: 2.5rem;
    margin: 0;
    border: none;
    padding: 0;
}

#page-container {
    position: relative;
    display: block;
    min-height: 100vh;
    margin: 0;
    border: none;
    padding: 0;
}
  
#content-wrap {
    display: block;
    margin: 0;
    border: none;
    padding: 2.5rem 1.0rem;
}

html {
    width: 100%;
    height: 100%;
    margin: 0;
    border: none;
    padding: 0;
    background-image: url('/portrait.jpg');
}

body {
    width: 80%;
    display: block;
    margin: 0 10%;
    border: none;
    background-color: rgb(23, 34, 54);
    color: white;
}

#result {
    color: red;
}