#header {
    background-color: rgb(61, 61, 61);
    width: 80%;
    height: 2.5rem;
    position: fixed;
    margin: 0;
    border: none;
    padding: 0;
    display: block;
    text-align: right;
    z-index: 1000;
}

#footer {
    background-color: rgb(61, 61, 61);
    width: 100%;
    position: absolute;
    display: block;
    bottom: 0;
    height: 2.5rem;
    margin: 0;
    border: none;
    padding: 0;
    text-align: left;
}

#page-container {
    position: relative;
    display: block;
    min-height: 100vh;
    margin: 0;
    border: none;
    padding: 0;
}
  
#content-wrap {
    display: block;
    margin: 0;
    border: none;
    padding: 2.5rem 1.0rem;
}

html {
    width: 100%;
    height: 100%;
    margin: 0;
    border: none;
    padding: 0;
    background-image: url('/portrait.jpg');
}

body {
    width: 80%;
    display: block;
    margin: 0 10%;
    border: none;
    background-color: rgb(23, 34, 54);
    color: white;
}

.navigation {
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.2rem;
    font-weight: bold;
    margin: 0.5rem 0.9rem;
    width: fit-content;
}

.navigation, .navigation:hover, .navigation:visited, .navigation:active {
    color: aquamarine;
    text-decoration: none;
}

#search {
    display: inline-block;
    width: 200px;
    max-width: 50%;
    height: 1.2rem;
    vertical-align: middle;
}

#searchBar {
    display: inline;
    width: 70%;
    margin: auto;
}

#submitButton {
    display: inline;
    cursor: pointer;
    background: skyblue;
    width: 1.4rem;
    height: 1.4rem;
}

#submitButton:hover {
    background: lightblue;
}

#searchIcon {
    max-width: 100%;
    height: auto;
}

#fox {
    position: absolute;
    left: 0.6rem;
    top: 0.5rem;
    width: 1.4rem;
    height: 1.4rem;
}

#result {
    color: red;
}

#cards-container {
    --base-size: 0.4;
    --size-multiplier: var(--base-size);
    --base-z: 5;
    --z-modifier: var(--base-z);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.card {
    --size: var(--size-multiplier);
    position: relative;
    font-family: 'Kreon', serif;
    width: calc(675px * var(--size));
    height: calc(950px * var(--size));
    font-size: calc(100% * var(--size));
}

.card-preview {
    --preview-size: 0.7;
    --size: calc(var(--preview-size) * var(--size-multiplier));
    position: absolute;
    left: calc(-100% * var(--preview-size));
    display: none;
    --z-modifier: calc(100 + var(--base-z));
    font-family: 'Kreon', serif;
    width: calc(675px * var(--size));
    height: calc(950px * var(--size));
    font-size: calc(100% * var(--preview-size));
}

.card:hover .card-preview {
    display: block;
}

.card-link {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: calc(4 + var(--z-modifier));
}

.card-portrait, .card-description-background, .card-frame, .card-banner, .card-energy-symbol {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: calc(2 + var(--z-modifier));
}

.card-art {
    position: absolute;
    z-index: calc(1 + var(--z-modifier));
    width: calc(500px * var(--size));
    height: calc(380px * var(--size));
    left: calc(100% * calc(calc(calc(675 - 500) / 2) / 675));               /*half the extra width between image size and parent container*/
    top: calc(100% * calc(calc(calc(calc(950 - 380) / 2) - 133) / 950));    /*half the extra height between image size and parent container, minus 133 pixels*/
}

.card-description-container, .card-type-container, .card-name-container, .card-cost-container {
    position: absolute;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    z-index: calc(3 + var(--z-modifier));
}

.card-description-container {
    width: 75%;
    height: 31.7%;
    left: 12.9%;
    top: 58.8%;
}

.card-description-text {
    font-size: 225%
}

.card-type-container {
    width: 18%;
    height: 4.2%;
    left: 41.5%;
    top: 53.6%;
}

.card-type-text {
    color: black;
    font-weight: bold;
    font-size: 175%;
}

.card-name-container {
    width: 70%;
    height: 7.3%;
    left: 15.3%;
    top: 12.4%;
}

.card-name-text {
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    font-weight: bold;
    font-size: 300%;
}

.card-cost-container {
    width: 14.8%;
    height: 10.5%;
    left: 2.5%;
    top: 6.8%;
}

.card-cost-text {
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    font-weight: bold;
    font-size: 500%;
}

.keyword {
    color: rgb(238, 200, 81);
}

.upgrade {
    color: lime;
}

.mana-symbol {
    height: 1em;
}

.keyword-container {
    --base-size: 1.0;
    --size-multiplier: var(--base-size);
    width: calc(320px * var(--size-multiplier));
    position: relative;
    font-family: 'Kreon', serif;
}

.keyword-content, .keyword-text, .keyword-name, .keyword-description, .keyword-background-top, .keyword-background-middle, .keyword-background-bottom {
    margin: 0px;
    display: block;
}

.keyword-content {
    position: relative;
    height: fit-content;
}

.keyword-text {
    padding: 18px 20px;
}

.keyword-name {
    font-weight: bold;
    color: rgb(238, 200, 81);
    font-size: 150%;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.keyword-description {
    top: 5px;
    font-size: 140%;
}

.keyword-background-top {
    position: absolute;
}

.keyword-background-middle {
    height: calc(100% - 64px);
    width: 100%;
    position: absolute;
    top: 32px;
    left: 0;
}

.keyword-background-bottom {
    position: absolute;
    bottom: 0px;
}

.keyword-name, .keyword-description {
    position: relative;
    z-index: 1;
}

@media only screen and (max-width: 850px) {
    #header, #footer {
        height: 1.5rem;
    }
    
    .navigation {
        font-size: 0.7rem;
        margin: 0.25rem;
    }
    
    #search {
        width: 150px;
    }

    #searchBar {
        font-size: 0.5rem;
        position: relative;
        bottom: 0.15rem;
    }

    #submitButton {
        width: 1rem;
        height: 1rem;
        position: relative;
        top: 0.14rem;
    }

    #searchIcon {
        position: relative;
        bottom: 0.37rem;
    }
    
    #fox {
        left: 0.3rem;
        top: 0.25rem;
        width: 1rem;
        height: 1rem;
    }
    
    #content-wrap {
        padding: 1.5rem 1.0rem;
    }
}