<!DOCTYPE html>

<HTML>

    <HEAD>
        <TITLE>Card View</TITLE>
        <link href='/style.css' rel='stylesheet'>
        <script type="text/javascript" src="/js/get-specific-card-info.js"></script>
    </HEAD>

    <BODY onload="getCardName()">
        <div id="page-container">   
            <script type="text/javascript" src="/js/make-header.js"></script>
            <div id="content-wrap">

                <H1>Card View</H1>
                <P>This card will query the server for a specific card and display extra info, such as what art others may have already submitted.</P>
                <P id="result">This is a placeholder and javascript should replace this with an interpretation of the query string.</P>
            </div>
            <script type="text/javascript" src="/js/make-footer.js"></script>
        </div>
    </BODY>

</HTML> 